<div>
    <h3><b> Details of the submitted timesheet </b></h3>
</div>
<div>
    <h4>Hours submitted for each day</h4>
    <ul>
        <li>Saturday : {{ strMap['satHours']}}</li>
        <li>Sunday : {{ strMap['sunHours']}}</li>
        <li>Monday : {{ strMap['monHours']}}</li>
        <li>Tuesday : {{ strMap['tueHours']}}</li>
        <li>Wednesday : {{ strMap['wedHours']}}</li>
        <li>Thursday : {{ strMap['thuHours']}}</li>
        <li>Friday : {{ strMap['friHours']}}</li>
    </ul>

    <div style="margin-left:2%;">
        <h4>Comments</h4>
        <div class="comments">
            {{comments}}
        </div>
    </div>
    <br>
    <div style="margin-left:2%;">
        <button id="close" type="button" class="btn btn-success btn-block" (click)="close()"> Close </button>
    </div>

</div>